absl-py==0.13.0
attrs==21.2.0
comtypes==1.1.10
cycler==0.10.0
enum34==1.1.10
future==0.18.2
kiwisolver==1.3.2
matplotlib==3.4.3
mediapipe==0.8.7.3
numpy==1.19.3
opencv-contrib-python==4.5.3.56
Pillow==8.3.2
protobuf==3.18.0
psutil==5.8.0
pycaw==20181226
pyparsing==2.4.7
python-dateutil==2.8.2
six==1.16.0
